* {
  box-sizing: border-box;
}

.login-page {
  display: flex;
  height: 100vh;
}

.login-left {
  flex: 1;
  background: url('/public/img/logo-rocket.png')  no-repeat center center;
  background-size: 50%;
}

.login-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f82323;
}

.login-container {
  width: 500px;
  padding: 20px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
}

.login-container h2 {
  margin-bottom: 20px;
  color: #333;
}

.login-container input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.login-container button {
  width: 100%;
  padding: 10px;
  background-color: #f82323;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.login-container button:hover {
  background-color: #c51616;
}