* {
  box-sizing: border-box;
}

.login-page {
  display: flex;
  height: 100vh;
}

.login-left {
  flex: 1;
  background: url('/public/img/logo-rocket.png')  no-repeat center center;
  background-size: 50%;
}

.login-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f82323;
}

.login-container {
  width: 500px;
  padding: 20px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
}

.login-container h2 {
  margin-bottom: 20px;
  color: #333;
}

.login-container input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.login-container button {
  width: 100%;
  padding: 10px;
  background-color: #f82323;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.login-container button:hover {
  background-color: #c51616;
}

.spinner {
  border: 4px solid red;
  border-top: 4px solid white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loading-message {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  color: red;
  font-size: 16px;
}

.loading-message p {
  margin-bottom: 10px;
  font-weight: bold;
}